/*
Theme Name: Health-Center-Pro
Theme URI: 
Author: Webriti
Author URI: http://webriti.com/
Description: 
Version:  1.4
Tags: white,full-width-template, threaded-comments,custom-menu,two-columns,translation-ready
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl.html
Text Domain: health
* Health Center Css created By Shahid - Scientech IT
*/


/* Header Section css-------------------------------------------------------------- */ 
body {
	color: #777777;
    padding:0 10px;
	background: url("./images/bg-patterns/whitey.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#wrapper {	
	background: #ffffff;
	box-shadow: 0px 0px 7px #303030;
	margin: 25px auto;
    left: 0;
    position: relative;
    transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
/* Main css with editable-------------------------------------------------------------- */
.row { margin-left: 0px !important; margin-right: 0px !important; } 
.container { padding-left: 0px !important; padding-right: 0px !important; }
.header_section { background-color: #ffffff; }
.hc_logo { margin-top: 40px; }
.hc_logo h1 { font-size: 36px; line-height: 60px; font-family: 'Fely'; font-weight: 600; margin: 0px; padding: 3px 0; }
.hc_logo h1 > a {
	padding-right: 30px;
}
.hc_logo h1 > a > span { color: #404040; }
.facebook { background: url(./images/social/fb.png) no-repeat; }
.twitter { background: url(./images/social/twitter.png) no-repeat; }
.google { background: url(./images/social/google+.png) no-repeat; }
.linkedin { background: url(./images/social/linkedin.png) no-repeat; }
.email { background: url(./images/social/email.png) no-repeat; }
.head_cont_info { margin-top: 30px; display: block; float: right; }
.head_cont_info li { display: inline; padding-left: 10px; margin-left: 10px; }
.head_cont_info i { color: #000000; }
.head_cont_info li, .head_cont_info li > a { color: #777777; }
.head_cont_info i { font-size: 18px; margin-right: 10px; }
.mini-ico-envelope { background-position: -72px 0; }
.mini-ico-user { background-position: -168px 0; }
.head_cont_info a { font-size: 15px; font-family: 'RalewayRegular'; }
a:hover, a:focus{ text-decoration: none !important; }
.head_social_icons { margin: 6px 0 30px; float: right; }
.head_social_icons li { 
	display: inline;
	list-style: none;
	text-indent: -9999px;
	margin-left: 5px;
	float: left;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.head_social_icons li a { background-repeat: no-repeat; background-position: 0 0; display: block; height: 26px; width: 26px; }
.head_social_icons .facebook:hover,
.head_social_icons .twitter:hover,
.head_social_icons .google:hover,
.head_social_icons .linkedin:hover,
.head_social_icons .email:hover {
	-webkit-transition: all ease 0.7s;
	-moz-transition: all ease 0.7s;
	-o-transition: all ease 0.7s;
	-ms-transition: all ease 0.7s;
	transition: all ease 0.7s;
}
.head_social_icons .facebook:hover,
.head_social_icons .twitter:hover,
.head_social_icons .google:hover,
.head_social_icons .linkedin:hover,
.head_social_icons .email:hover {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);
	opacity: 0.5;
}
.clear { clear: both; }
.navigation_section { min-height: 50px; position: relative; width: 100%; }

/* Navbar Section css-------------------------------------------------------------- */ 
.navbar-container { margin-left: 0px !important; }
.navbar { border: 1px solid rgba(0, 0, 0, 0); margin-bottom: 0px !important; min-height: 50px; position: relative; border-radius: 0px !important; }
.dropdown-submenu { position:relative; }
.dropdown-submenu > .dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu { display:block; }
.dropdown-submenu > a:after{
    display:block;
    content:" ";
    float: right;
    width: 0 !important;
    height:0 !important;
    border-color: 0px !important;
    border-style: solid solid dotted !important;
    border-width: 6px 3px 0 !important;
	border-radius: 50% !important;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu .pull-left { float:none; }
.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
.dropdown-menu {
	background-color: #ffffff;
	border-left: 1px solid #e6e5e5 !important;
	border-right: 1px solid #e6e5e5 !important;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 250px !important;
	padding: 0px 0 !important;
	margin: 2px 0 0;
	font-size: 14px;
	list-style: none;
	border-top: 0px !important;
	border-radius: 4px;
	background-clip: padding-box;
}
.dropdown-menu > li > a {
	color: #404040;
	border-bottom: 1px solid #e6e5e5 !important;
    clear: both;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 12px 20px !important;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus { color: #ffffff !important; background-color: #0481bd !important; text-decoration: none; }
.navbar-default { background-color: transparent !important; border-color: transparent !important; }
.navbar-default .navbar-nav > li > a { color: #ffffff !important; }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus { background-color: #ffffff !important; }
.navbar-collapse { padding-left: 0px !important; padding-right: 0px !important; }
.navbar-nav > li > a { font-family: 'RalewayMedium'; font-size: 14px; padding: 14px 25px !important; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #ffffff !important;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus { background-color: #ffffff !important; }
.navbar-default .navbar-toggle { border-color: #ffffff !Important; }
.navbar-default .navbar-toggle .icon-bar { background-color: #ffffff !important; }
.navbar-default .navbar-toggle .icon-bar:hover,
.navbar-default .navbar-toggle .icon-bar:focus  { background-color: #ffffff !important; }
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus { background-color: #ffffff !important; }
.caret {
    border-color: 0px !important;
    border-style: solid solid dotted !important;
    border-width: 6px 3px 0 !important;
    display: inline-block !important;
    height: 0 !important;
    margin-left: 5px !important;
	margin-top: -3px;
    vertical-align: middle !important;
    width: 0 !important;
	border-radius: 50% !important;
}
.dropdown-submenu > .dropdown-menu { margin-top: 0px !important; }
.navbar-collapse.in { overflow: hidden !important; }

/* Flex Slider css---------------------------------------------------------------------------------------------------------------------------------------- */ 
.hc_slider {
	background-color: #C4C4CE;
    border-bottom: 0px solid #EEEEEE;
    border-top: 0px solid #EEEEEE;
    color: inherit;
    font-size: 14px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 50px;
    padding: 0;
}
.slide_thumb { border-radius: 0 0 0px 0px; height: 85px; margin: 0 auto !important; overflow: hidden; width: 1200px !important; }
.slide_thumb > li { cursor: pointer; padding: 22px 22px 0px; float: left; height: 85px; width: 240px !important; }
.slide_thumb > li:last-child { border-right: 0px; }
.slide_thumb > li h5 { color: #FFFFFF; font-size: 15px; margin: 0 0 5px; font-family: 'OpenSansBold'; word-wrap:break-word; }
.slide_thumb > li p { color: #FFFFFF; font-size: 13px; line-height: 21px; margin: 0 0 25px; font-family: 'OpenSansRegular'; }
@media only screen and (min-width: 960px) and (max-width: 1200px) {

.slide_thumb > li { border-right: 1px solid #7ad1fc; }
.slide_thumb > li h5 { color: #FFFFFF; text-shadow: 1px 1px 0 #016494; }
.slide_thumb > li p { color: #FFFFFF; } 

}

@media only screen and (min-width: 768px) and (max-width: 959px) {

.slide_thumb > li { border-right: 1px solid #7ad1fc; }
.slide_thumb > li h5 { color: #FFFFFF; text-shadow: 1px 1px 0 #016494; }
.slide_thumb > li p { color: #FFFFFF; }
	
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

.slide_thumb { background-color: #fff; }
	
}

@media only screen and (min-width: 200px) and (max-width: 480px) {

.slide_thumb { background-color: #fff; }
}

/* Slider Caption --------------------------------------------------------------------------------------------------- */
.hc_slider #slider ul.slides li { position: relative; }
.slide-caption {	
	float: left;
    height: auto;
    left: 5%;
    margin: 0;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
    width: 50%;
    z-index: 0;	
}
.slide-text-bg1 {
	z-index: 773;
	width: 95%;
	text-align: left;
	position: relative;
	margin: 0 0 20px;
	padding: 0;
	float: left;
}
.slide-text-bg1 h1 {
	font-family: 'OpenSansRegular';
	font-weight: normal;
	border-radius: 1px;
	padding: 6px 12px;
	display: inline-block;
	letter-spacing: 0;
	line-height: 35px;
	margin: 0 0 0px; 
}
.slide-text-bg2 {
    float: left;
	text-align: left;
    margin: 0 0 20px;
    padding: 0;
    position: relative;
    width: 95%;
    z-index: 773; 
}
.slide-text-bg2 span {
	font-family: 'OpenSansRegular';
	font-size: 18px;
	font-weight: normal;
	display: inline-block;
	border-radius: 1px;
	line-height: 27px;
	padding: 5px 13px;
	margin: 0 0 0px; 
}
.slide-btn-area-sm { margin: 0px 0 0px; float: left; width: 80%; }
.slide-btn-sm {
	border-radius: 1px;
    cursor: pointer;
    display: inline-block;
    font-family: "OpenSansSemiBold";
	transition: all 0.3s ease-in-out 0s;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 20px;
    padding: 10px 25px;
	margin: 0;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

.slide-text-bg1 h1 {
	background-color: rgba(59, 61, 66, 0.6);
    color: #ffffff;
    text-shadow: 0 0 1px rgba(155, 155, 155, 0.7);
}
.slide-text-bg2 span {
	background: rgba(255, 255, 244, 0.7) none repeat scroll 0 0;
    color: #444444;
}
.slide-btn-area-sm { margin: 0px 0 0px; float: left; width: 80%; }
.slide-btn-sm {
	color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.slide-btn-sm:hover, .slide-btn-sm a:focus { color: #ffffff !important; }
/* Homepage Service Section css-------------------------------------------------------------- */ 
.hc_main_service { color: #FFFFFF; opacity: 1; transition-duration: 0.5s; }
.hc_main_service {
    border: 0 none;
    border-radius: 100%;
    font-size: 18px;
    height: 40px;
    line-height: 42px !important;
    margin-bottom: 10px;
    text-align: center;
    width: 40px;
	margin: 0 10px 0 0;
}
.hc_main_service { -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; opacity: 1; }
.hc_main_service:hover  { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -o-transform:rotate(360deg); opacity: 1; }
.hc_service_title { padding: 0px 15px 10px; position: relative; }
.hc_service_title h1{ font-family: 'OpensansRegular'; font-size: 36px; font-weight: normal; line-height: 40px; margin: 2px 0 8px; text-align: center; }
.hc_service_title p { color: #777777; font-family: 'OpensansRegular'; font-size: 18px; margin: 0px 0px 10px; text-align: center; }
.hc_service_area { border-radius: 0px; margin-bottom: 35px; padding: 0px 5px 5px; transition: all 0.4s ease 0s; text-align: center; }
.hc_service_area i { background-color: #ffffff; margin-bottom: 26px; font-size: 40px; border-radius: 100%; width: 100px; height: 100px; line-height: 95px; }
.hc_service_area h2 { font-family: 'OpenSansRegular'; font-size: 24px; line-height: 30px; margin: 7px 0 15px; text-align: center; word-wrap: break-word; }
.hc_service_area h2 > a { color: #3b3b3b; transition: all 0.4s ease 0s; }
.hc_service_area p { color: #777777; font-family: 'OpenSansRegular'; font-size: 15px; line-height: 25px; margin-bottom: 15px; margin-top: 5px; padding: 0 7px; text-align: center; }
.hc_service_area p a { font-family: 'OpenSansRegular'; font-size: 15px; }

/* Homepage Portfolio Section Css------------------------------------------------------------ */
.hc_portfolio_title, .hc_service_title { padding: 0px 15px 0px; margin: 0 auto 40px; }
.hc_portfolio_title i, .hc_service_title i{
	background: none repeat scroll 0 0 #e0e0e0;
    border-color: #F9F9F9;
    color: #777777;
	border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    bottom: -17px;
    display: block;
    height: 36px;
    left: 50%;
    line-height: 25px;
    margin-left: -17px;
    position: absolute;
    text-align: center;
    width: 36px;
}
.hc_portfolio_title h1, .hc_service_title h1 {
    font-family: 'OpensansRegular';
    font-size: 36px;
    font-weight: normal;
    line-height: 40px;
    margin: 2px 0 8px;
	text-align: center;
	word-wrap: break-word;
}
.hc_portfolio_title p { color: #777777; font-family: 'OpensansRegular'; font-size: 18px; margin: 0 0 34px; text-align: center; }
.hc_service_title p { color: #777777; font-family: 'OpensansRegular'; font-size: 18px; margin: 0 0 30px; text-align: center; }

/* Homepage Callout with Call Now Section */
.hc_home_border { border-bottom: 1px solid #E0E0E0; width: 97.4%; margin: 0 auto 50px; }
.hc_home_callout { margin: 0 0 40px; position: relative; }
.hc_home_title { border-right: 1px solid #E0E0E0; }
.hc_home_title h1 {
    font-family: 'OpensansRegular';
    font-size: 36px;
    font-weight: normal;
    line-height: 40px;
	text-align: right;
	margin: 0px;
	padding: 10px 15px 10px 0;
	word-wrap: break-word;
}
.hc_home_callnow_title { }
.hc_home_callnow_title h1 {
	padding: 10px 10px 10px 15px;
    font-family: 'OpensansRegular';
    font-size: 36px;
    font-weight: normal;
    line-height: 40px;
	text-align: left;
	margin: 0px;
	word-wrap: break-word;
}
.hc_home_callnow_title h1 > span { color: #777777; }
.hc_home_portfolio_area { margin-bottom: 60px; }
.hc_home_portfolio_showcase { position: relative; padding: 0px; }
.hc_home_portfolio_showcase_media { position: relative; }
.hc_home_portfolio_showcase:hover .hc_home_portfolio_showcase_title a { text-decoration: underline; }
.hc_home_portfolio_showcase_overlay {
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hc_home_portfolio_showcase_overlay_inner { position: absolute; top: 50%; left: 0; width: 100%; margin-top: -40px; }
.hc_home_portfolio_showcase .hc_home_portfolio_showcase_icons { margin-top: 20px; text-align: center; width: 100%; }
.hc_home_portfolio_showcase .hc_home_portfolio_showcase_icons a {
	background-color: #000000;
    font-size: 1.3em;
    line-height: 1em;
    display: inline-block;
    margin-left: 2px;
    padding: 8px 8px;
    opacity: 1;
	text-decoration: none;
}
.hc_home_portfolio_showcase .hc_home_portfolio_showcase_icons a:hover { opacity: 1; }
.hc_home_portfolio_showcase .hc_home_portfolio_showcase_icons a i{ color: #ffffff; font-size: 1em; }
.hc_home_portfolio_showcase:hover .hc_home_portfolio_showcase_overlay { visibility: visible; opacity: 0.7; }
.hc_home_portfolio_showcase_fade { opacity: 0.2; }
.hc_home_portfolio_showcase_fade:hover .hc_home_portfolio_showcase_overlay { display: none !important; }
.hc_home_portfolio_caption {
	border-left: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
    border-radius: 0;
    padding: 0 0 15px;
    text-align: center;
    transition: all 180ms ease-in-out 0s;
    font-family: 'OpenSansRegular';
	cursor: pointer;
	cursor: pointer;
	word-wrap: break-word;	
}
.hc_home_portfolio_caption:hover { background: #f0f0f0; border-top: 0; }
.hc_home_portfolio_caption h3 { font-size: 14px; font-weight: 600; word-wrap: break-word; margin: 0; padding: 9px 3px 0px; line-height: 35px; font-family: 'OpenSansRegular'; }
.hc_home_portfolio_caption h3 a { color: #404040; }
.hc_home_portfolio_caption small { color: #777777; font-size: 13px; line-height: 20px; }

/* Homepage Callout Section Css------------------------------------------------------------ */
.hc_callout_area { color: inherit; font-size: 14px; font-weight: 200; line-height: 30px; padding: 25px 15px; }
.hc_callout_area h1 { color: #ffffff; font-family: 'RalewayRegular'; font-size: 27px; font-weight: normal; line-height: 40px; word-wrap: break-word; margin: 0 0 0px; }
.hc_callout_btn { float: right; }
.hc_callout_area a {
    color: #FFFFFF;
    text-shadow: 0px 1px 1px #777777;
	border: 2px solid #ffffff;
    display: inline-block;
    font-family: 'RalewaySemiBold';
    font-size: 18px;
    line-height: 20px;
    margin: 8px 0;
    padding: 9px 20px;
    text-align: right;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
	word-wrap: break-word;
	
}
.hc_callout_area a:hover { background-color: #ffffff !important; text-shadow: 0px 1px 1px #ffffff; }

/* Homepage Recent News Section Css------------------------------------------------------------ */
.hc_post_section { margin-bottom: 54px; }
.hc_head_title {
	background: url("./images/double_line_seperator.png") repeat-x scroll left center rgba(0, 0, 0, 0);
    font-size: 18px;
    line-height: 1;
    margin: 5px 0 30px;
	word-wrap: break-word;
}
.hc_head_title span { background: #ffffff; font-size: 32px; line-height: 1; padding-right: 10px; margin-bottom: 30px; font-family: 'GlametrixBold'; letter-spacing: 1px; }
.hc_post_area { margin-bottom: 20px; }
.hc_post_area:last-child { margin-bottom: 0px; }
.hc_post_area h4 { margin: 0 0 6px; font-size: 16px; line-height: 25px; font-family: 'OpenSansSemiBold'; word-wrap: break-word; }
.hc_post_area h4 a { color: #3b3b3b; } 
.hc_post_area p { color: #777777; margin: 0 0 5px; font-size: 14px; line-height: 25px; font-family: 'OpenSansRegular'; }
.hc_post-date-type { background: #f0f0f0; width: 60px; float: left; padding: 5px 5px; text-align: center; margin: 6px 20px 0px 0px; }
.hc_post-date-type .day { font-size: 24px; line-height: 25px; font-weight: bold; font-family: 'OpenSansBold'; text-align: center; }
.hc_post-date-type .month-year { color: #3b3b3b; font-size: 14px; line-height: 18px; font-family: 'OpenSansbold'; text-align: center; }

/* Homepage Accordion Tabs Section Css------------------------------------------------------------ */
.hc_accordion_section { margin-bottom: 54px; }
.panel-default > .hc_panel-heading { background-color: #EEEEEE; color: #3b3b3b; border: 0px; }
.panel-group .hc_panel-heading { border-bottom: 0 none; }
.hc_panel-heading { border-bottom: 1px solid rgba(0, 0, 0, 0); padding: 10px 10px; }
.panel-group .hc_panel + .hc_panel { margin-top: 5px; }
.panel-group .hc_panel { border-radius: 0px; margin-bottom: 15px; overflow: hidden; }
.panel-group .hc_panel:last-child { margin-bottom: 0px; }
.hc_panel { background-color: #FFFFFF; margin-bottom: 20px; }
.hc_panel p { color: #777777; font-size: 14px; line-height: 25px; font-family: 'OpenSansRegular'; word-wrap: break-word; }
.panel-title { font-size: 16px; font-family: 'OpenSansSemiBold'; }
.panel-title a span { margin-right: 10px; }

/* Homepage Testimonials Section Css------------------------------------------------------------ */
.hc_carousel-navi { background: #ffffff; bottom: 0; position: relative; right: 0; float: right; padding-left: 10px; }
.hc_carousel-prev {
	background-color: #737373;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    float: left;
    height: 25px;
    transition: all 0.3s ease 0s;
    width: 25px;
	padding: 2px 9px 5px;
	margin-right: 1px;
}
.hc_carousel-next {
	background-color: #737373;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    float: right;
    height: 25px;
    transition: all 0.3s ease 0s;
    width: 25px;
	padding: 2px 9px 5px;
}
.hc_carousel-prev i, .hc_carousel-next i { font-size: 20px; color: #ffffff; }
.hc_testimonial_section { float: left; }
.hc_testimonials_area { margin-bottom: 50px; }
.hc_testimonials_area_content {
	background-color: #ffffff;
    border: 1px solid #f1f0f0;
    background-position: 20px 20px;
    background-repeat: no-repeat;
    line-height: 20px;
    margin: 0 0 0px;
    padding: 17px 20px 10px 20px;
    text-indent: 5px;
	color: #777777;
	font-family: 'OpenSansRegular';
	font-size: 14px;
	line-height: 25px;
}
.hc_testimonials_area_content:before {
    font-family: 'FontAwesome';
    content: "\f10d";
    font-size: 1.2em;
    line-height: 0.1em;
    margin-right: 0.20em;
    vertical-align: 0em;
    position: relative;
    top: -2px;
}
.hc_testimonials_area_content_bottom_arrow {
	background-image: url("./images/bottom_arrow.png");
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
	left: 12px;
	position: relative;
}
.hc_testimonials_user { display: block; margin-top: 10px; }
.hc_testimonials_user .hc_testimonials_avatar_wrapper {
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25); 
	width: 48px;
	height: 48px;
	padding: 2px;
	float: left;
	border-radius: 50%;
	margin: 0 20px 20px 0px;
}
.hc_testimonials_user .hc_testimonials_avatar {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: none;
	width: 48px !important;
	height: 48px !important;
	border-radius: 50%;
	padding: 0;
	margin: 0;
	float: none;
}
.hc_testimonials_user .hc_testimonials_avatar img { border-radius: 50%; border: none; }
.hc_testimonials_title { margin: 0; padding: 6px 0 6px 0; font-family: 'OpenSansSemiBold'; font-size: 14px; }
.hc_testimonials_position { color: #777777; font-family: 'OpenSansSemiBold'; font-size: 12px; }

/* Footer Widget Section Css------------------------------------------------------------ */
.hc_footer_widget_area { background: #2d2d2d; padding: 38px 0 20px; }
.hc_footer_widget_column { margin-bottom: 50px; }
.hc_footer_widget_title{
	color: #e0e0e0;
	text-shadow: 0px 1px 2px #2a2a2a;
	font-family: 'Glametrix';
	font-size: 32px;
	margin: 0px 0px 30px 0px;
	line-height: 25px;
	letter-spacing: 1px;
	word-wrap: break-word;
	
}
.hc_footer_widget_area h6,.hc_footer_widget_column .textwidget { color: #cbcbcb; font-size: 16px; line-height: 22px; font-family: 'OpenSansRegular'; word-wrap: break-word; }
.hc_footer_widget_area p { color: #9e9d9d; font-size: 13px; line-height: 22px; font-family: 'OpenSansRegular'; }
.hc_footer_widget_post { margin: 0 0 25px !important; padding-bottom: 0px; }
.hc_footer_widget_post:last-child { margin: 0 0 0px !important; }
.hc_footer_widget_move { float: left; }
.hc_footer_widget_post_img { border: 2px solid #000000; margin-right: 18px !important; height: 40px; width: 40px; transition: opacity 0.3s ease-out 0s; display: block; }
.hc_footer_widget_post h3 { font-family: 'OpenSansSemiBold'; font-size: 14px; line-height: 20px; margin-bottom: 2px; margin-top: -2px; }
.hc_footer_widget_post h3 a { color: #cbcbcb; transition: all 0.2s ease 0s; }
.hc_footer_widget_post h3 a:hover { color: #ffffff; }
.hc_footer_widget_date { color: #9e9d9d; font-family: 'OpenSansRegular'; font-size: 12px; line-height: 20px; }
.hc_footer_widget_link { margin: 20px 0 10px; overflow: hidden; padding: 4px 0; }
.hc_footer_widget_link a,.hc_footer_widget_column ul li a,.hc_sidebar ul li a{
	color: #777777;
    display: block;
    font-family: 'OpenSansRegular';
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 0px 0 0px;
    transition: all 0.4s ease 0s;
}
.hc_footer_widget_link a:hover,.hc_footer_widget_column ul li a:hover  { color: #ffffff; }
.hc_footer_widget_link a i { color: #777777; font-size: 14px; line-height: 20px; padding-right: 10px; }
.hc_footer_widget_column address { color: #9e9d9d; font-family: 'OpenSansRegular'; font-size: 14px; line-height: 25px; }
.hc_footer_widget_column address a { color: #777777; }
.hc_footer_widget_column address a:hover { color: #ffffff; }
.hc_footer_area { background: #2d2d2d; border-top: 1px solid #6B6B6B; padding: 20px 0 0px; }
.hc_footer_area p { color: #cbcbcb; font-family: 'OpenSansRegular'; line-height: 20px; font-size: 13px; margin: 5px 0; }
.hc_footer_area p a { color: #ffffff; }
.hc_footer_social { float: right; margin-top: 0px; margin-bottom: 0px; width: auto; margin: 5px 0; }
.hc_footer_social a { float: left; height: 25px; margin-right: 5px; text-decoration: none; width: 25px; }
.hc_footer_social a.facebook { background: url("./images/social/facebook_footer.png") no-repeat scroll 0 0 transparent; }
.hc_footer_social a.twitter { background: url("./images/social/twitter_footer.png") no-repeat scroll 0 0 transparent; }
.hc_footer_social a.linked-in { background: url("./images/social/linkedin_footer.png") no-repeat scroll 0 0 transparent; }
.hc_footer_social a.google_plus { background: url("./images/social/google+_footer.png") no-repeat scroll 0 0 transparent; }

/*Footer Social Tooltips Css-------------------------------------------------------------------------*/
#fb_tooltip, #twi_tooltip, #in_tooltip, #plus_tooltip { display: inline; position: relative; }
#fb_tooltip:hover:after{
	border-radius: 5px;
	bottom: 35px;
	content: attr(title);
	left: -90%;
	padding: 4px 7px;
	position: absolute;
	z-index: 98;
	width: auto;
	font-size: 12px;
	background: #000000;
	color: #fff;
}
#fb_tooltip:hover:before{
	border: solid;
	border-width: 6px 6px 0 6px;
	bottom: 29px;
	content: "";
	left: 30%;
	position: absolute;
	z-index: 99;
	border-color: #000 transparent;
}
#twi_tooltip:hover:after{
	border-radius: 5px;
	bottom: 35px;
	content: attr(title);
	left: -50%;
	padding: 4px 7px;
	position: absolute;
	z-index: 98;
	width: auto;
	font-size: 12px;
	background: #000000;
	color: #fff;
}
#twi_tooltip:hover:before{
	border: solid;
	border-width: 6px 6px 0 6px;
	bottom: 29px;
	content: "";
	left: 30%;
	position: absolute;
	z-index: 99;
	border-color: #000 transparent;
}
#in_tooltip:hover:after{
	border-radius: 5px;
	bottom: 35px;
	content: attr(title);
	left: -80%;
	padding: 4px 7px;
	position: absolute;
	z-index: 98;
	width: auto;
	font-size: 12px;
	background: #000000;
	color: #fff;
}
#in_tooltip:hover:before{
	border: solid;
	border-width: 6px 6px 0 6px;
	bottom: 29px;
	content: "";
	left: 30%;
	position: absolute;
	z-index: 99;
	border-color: #000 transparent;
}
#plus_tooltip:hover:after{
	border-radius: 5px;
	bottom: 35px;
	content: attr(title);
	left: -80%;
	padding: 4px 7px;
	position: absolute;
	z-index: 98;
	width: auto;
	font-size: 12px;
	background: #000000;
	color: #fff;
}
#plus_tooltip:hover:before{
	border: solid;
	border-width: 6px 6px 0 6px;
	bottom: 29px;
	content: "";
	left: 30%;
	position: absolute;
	z-index: 99;
	border-color: #000 transparent;
}

/* About US 1 Template Css -----------------------------------------------------------------------------*/

.hc_page_header_area , .hc_project_header_area{
	padding: 33px 0;
    background-position: center top;
    margin: 0 auto 60px;
    position: relative;
    width: 97.4%;
}
.hc_page_header_area{
	border-bottom: 1px solid #E0E0E0;
}
.hc_page_header_area h1,.hc_search_head{
	color: #404040;
	font-family: 'Glametrix';
    font-size: 48px;
    font-weight: normal;
    line-height: 40px;
    margin: 0 0 5px;
	word-wrap: break-word;
}
.hc_project_header_area h1 { font-family: 'Glametrix'; font-size: 48px; font-weight: normal; line-height: 40px; margin: 0 0 5px; word-wrap: break-word; }
.hc_breadcrumb {
	background-color: #ffffff;
    border-radius: 4px;
    list-style: none outside none;
    margin-bottom: 5px;
    padding: 0px 0px;
	font-family: 'OpenSansSemiBold';
	font-size: 13px;
}

.hc_breadcrumb > li { display: inline-block; }
.hc_breadcrumb > li a, .hc_breadcrumb a { color: #777777; }
.hc_breadcrumb > li + li:before { color: #CCCCCC; content: "/ "; padding: 0 5px; } 
.hc_aboutus_area { margin-bottom: 48px; }
.hc_img_shadow { background: url(./images/img_shadow.png) 0 102% no-repeat; padding-bottom: 14px; }
.hc_aboutus_area h3 {
	color: #3b3b3b;
	border-bottom: 1px solid #E0E0E0;
	margin-bottom: 15px;
	font-family: 'Glametrix';
	font-size: 36px;
	line-height: 35px;
	padding: 0 0 8px;
	word-wrap: break-word;
}
.hc_aboutus_area p { color: #777777; font-family: 'OpenSansRegular'; font-size: 14px; line-height: 25px; }
.hc_team_title {
	border-bottom: 1px solid #E0E0E0;
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0 auto 52px;
    padding: 0 15px 10px;
    position: relative;
    width: 97.4%;
	word-wrap: break-word;
}
.hc_team_title i {
	background: none repeat scroll 0 0 #E0E0E0;
    border-color: #F9F9F9;
    color: #777777;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    bottom: -17px;
    display: block;
    height: 36px;
    left: 50%;
    line-height: 25px;
    margin-left: -17px;
    position: absolute;
    text-align: center;
    width: 36px;
}
.hc_team_title h1 { font-family: 'OpensansRegular'; font-size: 36px; font-weight: normal; line-height: 40px; margin: 2px 0 8px; text-align: center; word-wrap: break-word; }
.hc_team_title h1 span { font-family: 'OpensansLight'; font-size: 36px; font-weight: normal; line-height: 40px; margin: 2px 0 8px; text-align: center; }
.hc_team_title p { color: #777777; font-family: 'OpensansRegular'; font-size: 18px; margin: 0 0 43px; text-align: center; }
.hc_team_section { margin-bottom: 60px; }
.hc_team_showcase {
	background-color: #F0F0F0;
    border: 0px;
    border-radius: 0px;
    display: block;
    height: auto;
    line-height: 1.42857;
    margin-bottom: 40px;
    max-width: 100%;
    padding: 0;
    transition: all 0.2s ease-in-out 0s;
}
.hc_team_showcase > img { display: block; height: auto; margin-left: auto; margin-right: auto; max-width: 100%; }
.hc_team_showcase .caption { color: #333333; padding: 20px 40px 25px; display: inline-block; }
.hc_team_showcase .caption h3 { font-size: 20px; line-height: 30px; font-family: 'OpensansSemiBold'; margin: 5px 0 2px; word-wrap: break-word; }
.hc_team_showcase .caption h6 { color: #3b3b3b; font-size: 14px; line-height: 25px; font-family: 'OpensansSemiBold'; margin: 0 0 15px; word-wrap: break-word; }
.hc_team_showcase .caption p { color: #777777; font-size: 14px; line-height: 22px; font-family: 'OpensansRegular'; margin: 0 0 15px; text-align: justify; word-wrap: break-word; }
.hc_aboutus1_team_social { float: left; width: 100%; margin: 5px 0; }
.hc_aboutus1_team_social a { float: left; height: 25px; margin-right: 5px; text-decoration: none; width: 25px; }
.hc_aboutus1_team_social a.facebook { background: url("./images/social/facebook_footer.png") no-repeat scroll 0 0 transparent; }
.hc_aboutus1_team_social a.twitter { background: url("./images/social/twitter_footer.png") no-repeat scroll 0 0 transparent; }
.hc_aboutus1_team_social a.linked-in { background: url("./images/social/linkedin_footer.png") no-repeat scroll 0 0 transparent; }
.hc_aboutus1_team_social a.google_plus { background: url("./images/social/google+_footer.png") no-repeat scroll 0 0 transparent; }

/* About US 2 Template Css -----------------------------------------------------------------------------*/

.hc_team_about2_showcase {
	background-color: #ffffff;
    border: 0px;
    border-radius: 0px;
    display: block;
    height: auto;
    line-height: 1.42857;
    margin-bottom: 40px;
    max-width: 100%;
    padding: 0;
	transition: all 0.4s ease 0s;
}
.hc_team_about2_showcase:hover { background-color: #ffffff; }
.hc_team_about2_showcase > img:hover { box-shadow:0px 0px 30px #3b3b3b; -webkit-box-shadow:0px 0px 30px #3b3b3b; -moz-box-shadow:0px 0px 30px #3b3b3b; }
.hc_team_about2_showcase > img { 
	display: block;
	height: 220px;
	width: 220px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	-webkit-transform:scale(0.9);
	-moz-transform:scale(0.9); 
	-o-transform:scale(0.9); 
	-webkit-transition-duration: 0.5s; 
	-moz-transition-duration: 0.5s; 
	-o-transition-duration: 0.5s;
	opacity: 0.9; 
}
.hc_team_about2_showcase > img:hover { -webkit-transform:scale(1.1); -moz-transform:scale(1.1); -o-transform:scale(1.1); opacity: 1; }
.hc_team_about2_showcase .caption { color: #333333; padding: 10px 20px 25px; display: block; text-align: center; }
.hc_team_about2_showcase .caption h3 { font-size: 20px; line-height: 25px; font-family: 'OpensansSemiBold'; margin: 5px 0 0px; word-wrap: break-word; }
.hc_team_about2_showcase .caption h6 { color: #3b3b3b; font-size: 14px; line-height: 25px; font-family: 'OpensansSemiBold'; margin: 0 0 13px; word-wrap: break-word; }
.hc_team_about2_showcase .caption p {
	color: #777777;
	font-size: 14px;
	line-height: 22px;
    font-family: 'OpensansRegular';
	margin: 0 0 15px;
	text-align: center;
	word-wrap: break-word;
}
.hc_aboutus2_team_social { display: inline-block; margin: 5px 0; vertical-align: middle; }
.hc_aboutus2_team_social a { float: left; height: 25px; margin-right: 5px; text-decoration: none; width: 25px; }
.hc_aboutus2_team_social a.facebook { background: url("./images/social/facebook_footer.png") no-repeat scroll 0 0 transparent; }
.hc_aboutus2_team_social a.twitter { background: url("./images/social/twitter_footer.png") no-repeat scroll 0 0 transparent; }
.hc_aboutus2_team_social a.linked-in { background: url("./images/social/linkedin_footer.png") no-repeat scroll 0 0 transparent; }
.hc_aboutus2_team_social a.google_plus { background: url("./images/social/google+_footer.png") no-repeat scroll 0 0 transparent; }

/* Portfolio 2 Column, Portfolio 3 Column & Portfolio 4 Column Template Css --------------------------------------------------------------------------------------------------*/
.hc_portfolio_tabs { display: inline-block; height: auto; margin: 0; padding: 0; position: relative; }
.hc_portfolio_tabs ul { margin: 0; padding: 0; list-style: none outside none; }
.hc_portfolio_tabs li { float: left; margin: 0px 8px 10px 0; list-style: none outside none; }
.hc_portfolio_tabs li a {
	background: #ffffff;
    color: #3b3b3b;
	border:1px solid #e8e8e8;
    display: inline-block;
	font-family: 'OpenSansSemiBold';
    font-size: 13px;
    text-decoration: none;
	transition: all 0.4s ease;
    padding: 10px 20px;
}
.hc_portfolio_tabs li.active > a, .hc_portfolio_tabs li > a:hover { color: #fff !important; }
.hc_portfolio_tabs_section { margin-bottom: 40px; }
.hc_main_portfolio_section { margin-bottom: 50px; }
.hc_portfolio_area { margin-bottom: 40px; }
.hc_portfolio_showcase { position: relative; padding: 0px; }
.hc_portfolio_showcase_media { position: relative; }
.hc_portfolio_showcase:hover .hc_portfolio_showcase_title a { text-decoration: underline; }
.hc_img_responsive { width: 100%; display: block; height:auto; }
.hc_portfolio_showcase_overlay {
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hc_portfolio_showcase_overlay_inner { position: absolute; top: 50%; left: 0; width: 100%; margin-top: -40px; }
.hc_portfolio_showcase .hc_portfolio_showcase_icons { margin-top: 20px; text-align: center; width: 100%; }
.hc_portfolio_showcase .hc_portfolio_showcase_icons a {
	background-color: #000000;
    font-size: 1.3em;
    line-height: 1em;
    display: inline-block;
    margin-left: 2px;
    padding: 8px 8px;
    opacity: 1;
	text-decoration: none;
}
.hc_portfolio_showcase .hc_portfolio_showcase_icons a:hover { opacity: 1; }
.hc_portfolio_showcase .hc_portfolio_showcase_icons a i { color: #ffffff; font-size: 1em; }
.hc_portfolio_showcase:hover .hc_portfolio_showcase_overlay { visibility: visible; opacity: 0.7; }
.hc_portfolio_showcase_fade { opacity: 0.2; }
.hc_portfolio_showcase_fade:hover .hc_portfolio_showcase_overlay { display: none !important; }
.hc_portfolio_caption {
	border-left: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	border-top: 1px solid #e9e9e9;
    border-radius: 0;
    padding: 0 0 15px;
    text-align: center;
    transition: all 180ms ease-in-out 0s;
    font-family: 'OpenSansRegular';
	cursor: pointer;
}
.hc_portfolio_caption:hover { background: #e9e9e9; border-top: 0; }
.hc_portfolio_caption h3 a { color: #404040; }
.hc_portfolio_caption h3 { font-size: 14px; font-weight: 600; margin: 0; padding: 9px 3px 0px; line-height: 35px; font-family: 'OpenSansRegular'; word-wrap: break-word; }
.hc_portfolio_caption small { color: #777777; font-size: 13px; line-height: 20px; }

/* Portfolio Detail Page Template Css -----------------------------------------------------------------------------*/
.hc_portfolio_detail_section { margin-bottom: 45px; }
.hc_portfolio_detail_sidebar { margin-bottom: 30px; }
.hc_portfolio_detail_pagi {	border-bottom: 1px solid #DBDBDB; margin-bottom: 30px; margin-left: 20px; overflow: hidden; padding: 0 0 20px; }
.hc_portfolio_detail_pagi li:first-child { margin-left: 0; }
.hc_portfolio_detail_pagi li { display: block; float: left; margin-left: 5px; }
.hc_portfolio_detail_pagi li a { color: #404040; background: #d5d5d5; padding: 4px 11px; display: block; height: 30px; width: 30px; transition: all 0.3s ease 0s; }
.hc_portfolio_detail_pagi li a:hover { color: #ffffff; }
.hc_portfolio_detail_pagi li a span { font-size: 22px; }
.hc_portfolio_detail_info { margin-bottom: 27px; margin-left: 20px; overflow: hidden; }
.hc_portfolio_detail_info a {
    color: #FFFFFF;
	border: 1px solid #ffffff;
    display: inline-block;
    font-family: 'OpenSansSemiBold';
    font-size: 14px;
    line-height: 20px;
    margin: 15px 0 15px;
    padding: 7px 15px;
    text-align: right;
    text-transform: lovercase;
    transition: all 0.4s ease 0s;
    vertical-align: middle;
	word-wrap: break-word;
}
.hc_portfolio_detail_info a:hover { background-color: #ffffff; }
.hc_portfolio_detail_info p { color: #404040; font-family: 'OpenSansBold'; font-size: 14px; line-height: 20px; margin: 0 0 5px; word-wrap: break-word; }
.hc_portfolio_detail_info p small { color: #777777; font-family: 'OpenSansRegular'; font-size: 14px; }
.hc_portfolio_detail_description { border-bottom: 1px solid #DBDBDB; margin-bottom: 30px; margin-left: 20px; overflow: hidden; padding: 0 0 12px; }
.hc_portfolio_detail_description h3 { 
	color: #3B3B3B;
    font-family: 'GlametrixBold';
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 0 0 20px;
	word-wrap: break-word;
	padding-right: 10px;
}
.hc_portfolio_detail_description p { color: #777777; font-family: 'OpenSansRegular'; font-size: 14px; line-height: 25px; margin: 0 0 5px; }
.hc_rec_portfolio_section { margin-bottom: 50px; }
/*
.caroufredsel_wrapper{
	min-height: 275px !important;
}*/

/* Service page Template Css -----------------------------------------------------------------------------*/
.hc_service_section { margin: 0 0 45px; padding-bottom: 0px; }
.hc_sevice_icon {
	display: block !important;
	margin: 0 10px 0 auto;
	height: 40px !important;
	width: 40px !important;
	line-height: 1.7em;
	border-radius: 50%;
	transition: all 0.3s ease;
}
.hc_sevice_icon_size { font-size: 18px; line-height: inherit !important; position: absolute; text-align: center; width: 100%; height: 100%; padding-top: 7px; }
.hc_service_section h3 { color: #3b3b3b; font-family: 'OpenSansSemiBold'; font-size: 20px; line-height: 20px; margin-bottom: 15px; margin-top: 0px; word-wrap: break-word; }
.hc_service_section h3 > a { color: #3b3b3b; transition: all 0.3s ease; }
.hc_service_section p { color: #777777; font-family: 'OpenSansRegular'; font-size: 14px; line-height: 22px; }

/* Service Detail page Template Css -----------------------------------------------------------------------------*/
.hc_service_detail_section { margin-bottom: 55px; }
.hc_service_detail_sidebar { margin-bottom: 30px; } 
.hc_service_detail_description { border-bottom: 1px solid #DBDBDB; margin-bottom: 30px; margin-left: 20px; overflow: hidden; padding: 0 0 12px; }
.hc_service_detail_description h3 {
	color: #3B3B3B;
    font-family: 'GlametrixBold';
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 0 0 20px;
    padding-right: 10px;
	word-wrap: break-word;
}
.hc_service_detail_description p { color: #777777; font-family: 'OpenSansRegular'; font-size: 14px; line-height: 25px; margin: 0 0 5px; }
.hc_form_group { margin-bottom: 20px; }
.hc_input_control {
	background-image: none;
	background-color: #FFFFFF;
    border: 1px solid #c5c5c5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    border-radius: 5px;
    display: block;
    font-size: 14px;
    height: 45px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 35.3%;
}
.hc_textarea_control {
	background-color: #FFFFFF;
    border: 1px solid #c5c5c5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    background-image: none;
    border-radius: 5px;
    display: block;
    font-size: 14px;
    height: auto;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 48.3%;
}
.hc_input_control:focus, .hc_textarea_control:focus { outline: 0; }
.hc_service_detail_area { margin: 0 0 90px; }
.hc_service_detail_area h2 {
	color: #3b3b3b;
	border-bottom: 1px solid #dbdbdb;
    font-family: 'GlametrixBold';
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0 0 30px;
	padding: 0 0 15px;
	word-wrap: break-word;
}
.hc_service_detail_area label { color: #777777; font-family: 'OpenSansRegular'; font-size: 14px; line-height: 20px; margin: 0 0 11px; }
.hc_btn,#hc_btn {
	color: #ffffff;
	text-shadow: 0 1px 1px #494949;
	font-family: 'OpenSansSemiBold';
	display: inline-block;
	padding: 10px 20px;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	transition: all 0.4s ease;
	border-radius: 0px;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
	   -o-user-select: none;
		  user-select: none;
}
.hc_btn:focus,#hc_btn:focus {
	outline-offset: -2px;
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
}
.hc_btn:hover,.hc_btn:focus,#hc_btn:hover,#hc_btn:focus {
	text-decoration: none;
	background: #ffffff !important;
	text-shadow: 0 1px 1px #ffffff;
}

/* Contact Template 1 & Contact Template 2 Css ---------------------------------------------------------------------*/
.hc_contactv1_section { margin-bottom: 55px; }
.hc_google_map iframe { border-left: 1px solid #dbd9d2; border-right: 1px solid #dbd9d2; border-top: 1px solid #dbd9d2; }
.hc_contactv1_area, .hc_contactv2_area { margin: 0 0 90px; }
.hc_contactv1_area h2, .hc_contactv2_area h2 {
	color: #3b3b3b;
	border-bottom: 1px solid #dbdbdb;
    font-family: 'GlametrixBold';
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0 0 30px;
	padding: 0 0 12px;
	word-wrap: break-word;
}
.hc_contactv1_area label, .hc_contactv2_area label { color: #777777; font-family: 'OpenSansRegular'; font-size: 14px; line-height: 20px; margin: 0 0 11px; }
.hc_con_input_control {
	background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #c5c5c5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    border-radius: 5px;
    display: block;
    font-size: 14px;
    height: 45px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 53.5%;
}
.hc_con_textarea_control {
	background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #c5c5c5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    border-radius: 5px;
    display: block;
    font-size: 14px;
    height: auto;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 73.5%;
}
.hc_contactv1_sidebar, .hc_contactv2_sidebar { margin-bottom: 30px; }
.hc_contactv1_address, .hc_contactv2_address { margin-bottom: 20px; margin-left: 20px; overflow: hidden; padding: 0 0 12px; }
.hc_contactv2_address iframe { border-left: 1px solid #dbd9d2; border-right: 1px solid #dbd9d2; border-top: 1px solid #dbd9d2; margin: 0 0 20px; }
.hc_contactv1_address h3, .hc_contactv2_address h3 {
	border-bottom: 1px solid #DBDBDB;
    color: #3B3B3B;
    font-family: 'GlametrixBold';
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0 0 20px;
	word-wrap: break-word;

    padding: 0 0 12px;
}
.hc_contactv1_address address, .hc_contactv2_address address { color: #777777; font-family: 'OpenSansSemiBold'; font-size: 14px; line-height: 25px; }
.hc_contactv1_address address a:hover, .hc_contactv1_address address a:hover { color: #3b3b3b; }
.hc_contactv1_social, .hc_contactv2_social { float: left; margin-bottom: 0; margin-top: 0; width: auto; }
.hc_contactv1_social a, .hc_contactv2_social a { float: left; height: 25px; margin-right: 7px; text-decoration: none; width: 25px; }
.hc_contactv1_social a.facebook, 
.hc_contactv2_social a.facebook {
    background: url("./images/social/facebook_footer.png") no-repeat scroll 0 0 transparent;
}
.hc_contactv1_social a.twitter,
.hc_contactv2_social a.twitter {
    background: url("./images/social/twitter_footer.png") no-repeat scroll 0 0 transparent;
}
.hc_contactv1_social a.linked_in,
.hc_contactv2_social a.linked_in {
    background: url("./images/social/linkedin_footer.png") no-repeat scroll 0 0 transparent;
}
.hc_contactv1_social a.google_plus,
.hc_contactv2_social a.google_plus {
    background: url("./images/social/google+_footer.png") no-repeat scroll 0 0 transparent;
}
.hc_contactv2_description { margin: 0 0 60px; }
.hc_contactv2_description h2 {
	color: #3b3b3b;
	border-bottom: 1px solid #dbdbdb;
    font-family: 'GlametrixBold';
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0 0 20px;
	padding: 0 0 12px;
	word-wrap: break-word;
}
.hc_contactv2_description p { color: #777777; font-family: 'OpenSansRegular'; font-size: 14px; line-height: 25px; margin-bottom: 5px; }

/* Blog Sidebar css -------------------------------------------------------------------------------------*/
.hc_blog_wrapper { margin-bottom: 90px; }
.hc_blog_section { background-color: #FFFFFF; margin-bottom: 60px; overflow: auto; padding: 0 0 15px; border-bottom: 4px double #dddddd; float: none; }
.hc_blog_section:last-child { margin-bottom: 0px; background: none; padding: 0px; }
.hc_post_date {
	background-color: #ffffff;
	 	-moz-box-shadow: 0 0 2px #9F9E9E;
	-webkit-box-shadow: 0 0 2px #9F9E9E;
	box-shadow: 0 0 2px #9F9E9E;
    border-radius: 0px;
    display: block;
	font-family: 'OpenSansSemiBold';
    float: left;
    height: 74px;
    margin-right: 2%;
	margin-left: 0.3%;
    width: 50px;
	word-wrap: break-word;

}
.hc_post_date span.date { color: #ffffff; display: block; margin-bottom: 4px; font-size: 24px; line-height: 25px; padding: 3px 0; }
.hc_post_date span { color: #404040; font-size: 10px; letter-spacing: 1px; line-height: 30px; text-align: center; text-transform: uppercase; }
.hc_post_date h6 {
	color: #404040;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    margin: 4px 0 0;
    text-align: center;
	text-transform: uppercase;
	word-wrap: break-word;
}
.hc_post_date span.year { color: #404040; display: block; font-size: 10px; font-size: 14px; line-height: 17px; font-family: 'OpenSansBold'; }
.hc_post_title_wrapper { float: left; width: 85%; }
.hc_post_title_wrapper h2 {
	color: #3b3b3b;
    margin-bottom: 12px;
    margin-top: 3px;
    float: left;
	font-family: 'OpenSansRegular';
    font-size: 27px;
    font-weight: normal;
    line-height: 35px;
    padding-bottom: 0;
	word-wrap: break-word;
    width: 100%;
}
.hc_post_title_wrapper h2 a { color: #3b3b3b; transition: all 0.3s ease 0s; }
.hc_post_title_wrapper h2 a:hover { color: #777777; }
.hc_post_detail { color: #777777; font-family: 'OpenSansSemiBold'; margin: 0 0 10px; padding: 7px 0; width: 100%; text-transform: uppercase; }
.hc_post_detail a { color: #777777; font-size: 13px; padding: 5px 30px 5px 0; transition: all 0.3s ease 0s; }
.hc_post_detail a > i { color: #3b3b3b; margin-right: 9px; font-size: 16px; }
.hc_tags { display: inline-block; margin: 0 5px 5px; }
.hc_tags i { color: #3b3b3b; margin-right: 9px; font-size: 16px; }
.hc_tags a { color: #777777; font-size: 13px; padding: 5px 5px 5px 0; transition: all 0.3s ease 0s; }
.hc_blog_post_img { float: left; margin-top: 20px; margin-bottom: 20px; max-width: 100%; }
.hc_blog_post_content { float: left; margin-bottom: 10px; width: 100%; }
.hc_blog_post_content p { color: #777777; font-family: 'OpenSansRegular'; font-size: 14px; line-height: 25px; margin: 0 0 20px; }
a.hc_blog_btn { 
	font-family: 'OpenSansSemiBold';
	display: inline-block;
	padding: 5px 10px;
	margin-top: 20px;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	transition: all 0.4s ease;
	border-radius: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
a.hc_blog_btn,a.more-link { color: #ffffff; }
a.hc_blog_btn:hover, a.hc_blog_btn:focus { background: #ffffff !important; text-decoration: none; }
a.hc_blog_btn i { padding-left: 10px; }
.hc_blog_pagination { background-color: #FFFFFF; margin-bottom: 0px; overflow: auto; padding: 0 0 0px; float: none; }
.hc_blog_pagi { margin: 0px 0 0px; overflow: hidden; padding: 4px 0; }
.hc_blog_pagi a {
	border: 1px solid #dbdbdb !important;
	background-color: #ffffff;
	color: #777777;
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    font-family: 'OpenSansRegular';
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 0px 10px 0;
    padding: 3px 10px;
    transition: all 0.3s ease 0s;
    vertical-align: baseline;
    white-space: nowrap;
}
.hc_blog_pagi a:hover, .hc_blog_pagi a.active { color: #ffffff !important; }

/* Blog Full Width Page css -------------------------------------------------------------------------------------*/
.hc_full_post_title_wrapper { float: left; width: 92%; }
.hc_full_post_title_wrapper h2 {
	color: #3b3b3b;
    margin-bottom: 12px;
    margin-top: 3px;
    float: left;
	font-family: 'OpenSansRegular';
    font-size: 27px;
    font-weight: normal;
    line-height: 30px;
    padding-bottom: 0;
    width: 100%;
	word-wrap: break-word;
}
.hc_full_post_title_wrapper h2 a { color: #3b3b3b; transition: all 0.3s ease 0s; }
.hc_full_post_title_wrapper h2 a:hover { color: #777777; }

/* Blog Detail Page css -------------------------------------------------------------------------------------*/
.hc_blog_detail_section { background-color: #FFFFFF; margin-bottom: 20px; overflow: auto; padding: 0 0 15px; float: none; }
.hc_blog_detail_header_section {
    border-bottom: 1px solid #E0E0E0;
    float: none;
    margin-bottom: 57px;
    margin-top: 55px;
    overflow: auto;
    padding: 0 0 30px;
}
.hc_page_detail_header_section { border-bottom: 1px solid #E0E0E0; float: none; margin-bottom: 60px; margin-top: 55px; overflow: auto; padding: 0 0 30px; }
.hc_comment_section { background-color: #FFFFFF; overflow: auto; padding: 0 0 15px; margin: 0px 0px 0px 0px; float: none; }
.hc_comment_title { display: block; margin: 0 0 5px; }
.hc_comment_title h3 {
	border-bottom: 1px solid #E0E0E0;
	color: #3b3b3b;
    font-family: 'OpenSansRegular';
    font-size: 30px;
    line-height: 25px;
    margin: 0 0 -2px;
    padding-bottom: 11px;
    padding-right: 10px;
	word-wrap: break-word;
}
.hc_comment_title h3 > i { color: #c5c5c5; font-size: 34px; }
.hc_comment_box { background: none repeat scroll 0 0 #FFFFFF; margin: 0 0 10px !important; padding: 40px 0px 0 0; position: relative; }
.pull_left_comment { margin-right: 15px; float: left; }
.comment_img { height: 60px; width: 60px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.hc_comment_detail { border-bottom: 1px solid #E0E0E0; margin-left: 0px; padding-bottom: 25px; }
.hc_comment_detail_title { font-family: 'OpenSansBold'; font-size: 15px; line-height: 20px; line-height: 20px; margin: 0px 0 20px; }
.hc_comment_detail_title span { color: #3b3b3b; font-family: 'OpenSansBold'; font-size: 14px; line-height: 20px; margin-left: 25px; float: right; word-wrap: break-word; }
.hc_comment_detail p { color: #777777; font-family: 'OpenSansRegular'; font-size: 14px; line-height: 22px; margin: 0 0 20px; }
.reply { font-family: 'RobotoBold'; font-size: 16px; }
.reply a,.comment-reply-link { color: #3b3b3b; font-size: 14px; line-height: 22px; }
.reply a > i { color: #c5c5c5; font-size: 16px; position: relative; padding-right: 5px; top: 2px; }
.blog_single_post_content p { color: #767676; font-family: 'RobotoRegular'; font-size: 15px; line-height: 22px; }
.hc_comment_form_section { background-color: #FFFFFF; margin-bottom: 60px; overflow: auto; padding: 0 0 15px; margin: 20px 0 45px; float: none; }
.hc_comment_form_section h2 {
	color: #3b3b3b;
	border-bottom: 1px solid #E0E0E0;
    font-family: 'OpenSansRegular';
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 25px;
    margin: 0 0 30px;
	padding: 0 0 12px;
	word-wrap: break-word;
}
.hc_comment_form_section h2 > i { color: #C5C5C5; font-size: 32px; position: relative; top: 5px; }
.hc_comment_form_section label { color: #777777; font-family: 'OpenSansRegular'; font-size: 14px; line-height: 20px; margin: 0 0 11px; }

/* Sidebar css -------------------------------------------------------------------------------------*/
.hc_sidebar { background-color: #FFFFFF; }
.hc_sidebar_widget,.widget { margin-bottom: 50px; margin-left: 30px; margin-top: 0; overflow: hidden; }
.hc_sidebar_widget_title,.widgettitle { display: block; margin: 0 0 20px; }
.hc_sidebar_widget_title h2  {
	border-bottom: 1px solid #E0E0E0;
    display: block;
    font-family: 'OpenSansRegular';
    font-size: 24px;
    line-height: 20px;
    margin: 0 0 -2px;
    padding-bottom: 22px;
    padding-right: 10px;
	word-wrap: break-word;
}
h2.widgettitle  {
	border-bottom: 1px solid #E0E0E0;
    display: inline-block;
    font-family: 'OpenSansRegular';
    font-size: 24px;
    line-height: 20px;
    margin: 0 0 -2px;
    padding-bottom: 22px;
    padding-right: 10px;
	word-wrap: break-word;
}
.hc_sidebar_widget_title h2 { color: #3b3b3b; text-shadow: 0 0 1px #F6F6F6; }
h2.widgettitle { width:100%; margin-bottom:20px; }
.hc_media_sidebar { margin: 0 0 10px !important; padding-bottom: 5px; }
.hc_pull_space { margin-right: 18px !important; }
.hc_media_sidebar_img { height: 60px; transition: opacity 0.5s ease-out 0s; width: 60px; border-radius: 50%; }
.hc_media_sidebar_img:hover {
	-webkit-transition: all ease 0.9s;
	-moz-transition: all ease 0.9s;
	-o-transition: all ease 0.9s;
	-ms-transition: all ease 0.9s;
	transition: all ease 0.9s;
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);
	opacity: 0.7;
}
.hc_sidebar_widget h3 { display: inline-block; font-family: 'OpenSansSemiBold'; font-size: 14px; line-height: 20px; margin-bottom: 3px; margin-top: 6px; word-wrap: break-word; }
.hc_sidebar_widget h3 a { color: #777777; transition: all 0.2s ease 0s; }
.hc_sidebar_calender { color: #3b3b3b; font-family: 'OpenSansSemiBold'; line-height: 20px; font-size: 13px; display: block; margin: 0; }
.hc_widget_link,.hc_sidebar ul { margin: 0px 0 10px; overflow: hidden; padding: 4px 0; }
 .hc_widget_link a,.hc_sidebar ul a {
	color: #777777;
    display: block;
    font-family: 'RobotoRegular';
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    overflow: hidden;
    padding: 0px 0 14px 1px;
    transition: all 0.4s ease 0s;
}
.hc_widget_link a:hover,.hc_sidebar ul a:hover, .hc_widget_link a.active,.hc_sidebar ul a.active  { background-color: #FFFFFF; }
.hc_widget_link a:last-child { padding: 0px 0 0px 1px; }
.hc_widget_link a > i { margin-right: 9px; }
.hc_widget_tags,.hc_sidebar .tagcloud,.hc_footer_widget_column .tagcloud { margin: 0px 0 10px; overflow: hidden; padding: 4px 0; }
.hc_widget_tags a,.hc_sidebar .tagcloud a,.hc_footer_widget_column  .tagcloud a {
	border: 1px solid #dbdbdb !important;
	background-color: #ffffff;
	color: #777777;
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    font-family: 'OpenSansRegular';
    font-size: 13px !important;;
    font-weight: normal;
    line-height: 20px;
    margin: 0 10px 10px 0;
    padding: 3px 10px;
    transition: all 0.3s ease 0s;
    vertical-align: baseline;
    white-space: nowrap;
}
.hc_widget_tags a:hover,.hc_sidebar .tagcloud a:hover,.hc_footer_widget_column  .tagcloud a:hover { color: #ffffff !important; }
.hc_widget_text,.hc_sidebar .textwidget { margin: 0px 0 10px; overflow: hidden; padding: 4px 0; }
.hc_widget_text p,.hc_sidebar .textwidget { color: #777777; font-family: 'RobotoRegular'; font-size: 14px; line-height: 20px; margin: 0 10px 10px 0; padding: 0px 0px; }

/* Sidebar Left with blog css -------------------------------------------------------------------------------------*/
.hc_sidebar { background-color: #FFFFFF; }
.hc_left_sidebar_widget { margin-bottom: 50px; margin-right: 30px; margin-top: 0; overflow: hidden; }
.hc_left_sidebar_widget_title { border-bottom: 1px solid #E0E0E0; display: block; margin: 0 0 20px; }
.hc_left_sidebar_widget_title h2 {
	color: #3b3b3b;
    text-shadow: 0 0 1px #F6F6F6;
    display: inline-block;
    font-family: 'RobotoRegular';
    font-size: 24px;
    line-height: 20px;
    margin: 0 0 -2px;
    padding-bottom: 22px;
    padding-right: 10px;
	word-wrap: break-word;
}
.hc_left_sidebar_widget h3 { display: inline-block; font-family: 'OpenSansSemiBold'; font-size: 14px; line-height: 20px; margin-bottom: 3px; margin-top: 6px; word-wrap: break-word; }
.hc_left_sidebar_widget h3 a { color: #777777; transition: all 0.2s ease 0s; }

/* Shortcode Page Css ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.hc_button_section { background-color: #FFFFFF; margin-bottom: 60px; overflow: auto; padding: 0 0 0px; float: none; }
.hc_button_section p { margin: 0px; }
.hc_head_title {
	background: url("./images/double_line_seperator.png") repeat-x scroll left center rgba(0, 0, 0, 0);
    font-size: 18px;
    line-height: 1;
    margin: 5px 0 30px;
}
.hc_head_title span { background: #ffffff; font-size: 32px; line-height: 1; padding-right: 10px; margin-bottom: 30px; font-family: 'GlametrixBold'; letter-spacing: 1px; }

/*Buttons Styles*/
.hc_btn_large{
  display: inline-block;
  padding: 13px 30px;
  margin: 0px 10px 15px 0px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: lovercase;
  vertical-align: middle;
  cursor: pointer;
  font-family: 'OpenSansRegular';
}
.hc_btn_small{
  display: inline-block;
  padding: 8px 25px;
  margin: 0px 10px 10px 0px;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  text-transform: lovercase;
  vertical-align: middle;
  cursor: pointer;
  font-family: 'OpenSansRegular';
}
.hc_btn_mini{
  display: inline-block;
  padding: 4px 15px;
  margin: 0px 10px 10px 0px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  text-transform: lovercase;
  vertical-align: middle;
  cursor: pointer;
  font-family: 'OpenSansRegular';
}
/*Buttons Styles*/
.hc_btn_white { background-color: #ffffff; border: 1px solid #ebebeb; color: #1a1a1a; }
.hc_btn_pink { background-color: #F22853; text-shadow: 1px 1px 1px #3b3b3b; color: #ffffff; }
.hc_btn_blue { color: #ffffff; text-shadow: 1px 1px 1px #3b3b3b; }
.hc_btn_purple { background-color: #800080; color: #ffffff; text-shadow: 1px 1px 1px #3b3b3b; }
.hc_btn_orange { background-color: #ff8300; color: #ffffff; text-shadow: 1px 1px 1px #3b3b3b; }
.hc_btn_black { background-color: #000000; color: #ffffff; text-shadow: 1px 1px 1px #3b3b3b; }
.hc_btn_red { background-color: #db2723; color: #ffffff; text-shadow: 1px 1px 1px #3b3b3b; }
.hc_btn_green { background-color: #2e9b05; color: #ffffff; text-shadow: 1px 1px 1px #3b3b3b; }
.hc_btn_golden { background-color: #ffcc00; color: #1a1a1a; }
/*Dropcaps Styles*/
.hc_dropcap_section { background-color: #FFFFFF; margin-bottom: 10px; overflow: auto; padding: 0 0 15px; float: none; }
.hc_dropcape_square, .hc_dropcape_simple, .hc_dropcape_circle { color: #777777; font-family: 'RobotoRegular'; font-size: 14px; line-height: 25px; margin-bottom: 40px; margin-top: 0; }
.hc_dropcape_square span {
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: 'OpenSansBold';
    font-size: 45px;
    height: 50px;
    margin-right: 8px;
    margin-top: 4px;
    padding-top: 13px;
    text-align: center;
    width: 45px;
}
.hc_dropcape_simple span {
	color: #3b3b3b;
    display: block;
    float: left;
    font-family: 'OpenSansBold';
    font-size: 45px;
    height: 50px;
    margin-right: 8px;
    margin-top: 4px;
    padding-top: 7px;
    text-align: center;
    width: 45px;
}
.hc_dropcape_circle span {
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: 'OpenSansBold';
    font-size: 45px;
    height: 50px;
    margin-right: 8px;
    margin-top: 4px;
    padding-top: 13px;
    text-align: center;
    width: 50px;
	border-radius: 50%;
}
/*Tooltips Styles*/
.hc_tooltip_section { background-color: #FFFFFF; margin-bottom: 40px; overflow: auto; padding: 0 0 15px; float: none; }
.hc_tooltip { color: #777777; font-family: 'OpenSansRegular'; font-size: 14px; line-height: 25px; margin: 0 0 20px; }
/*Alert Styles*/
.hc_alert_section { background-color: #FFFFFF; margin-bottom: 60px; overflow: auto; padding: 0 0 15px; float: none; }
.hc_alert_error {
	background-color: #fce2e3;
    border: 1px solid #FAC2C4;
    color: #E54034;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    font-family: 'OpenSansRegular';
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px 35px 10px 14px;
}
.hc_alert_error .close { color: #E54034; line-height: 20px; opacity: 1; position: relative; right: -21px; top: -2px; }
button.close { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: 0 none; cursor: pointer; padding: 0; }
.hc_alert_warning {
	background-color: #FDF4BD;
    border: 1px solid #FED223;
    color: #927E03;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    font-family: 'OpenSansRegular';
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px 35px 10px 14px;
}
.hc_alert_warning .close { color: #927E03; line-height: 20px; opacity: 1; position: relative; right: -21px; top: -2px; }
.hc_alert_success {
	background-color: #E5EEC0;
    border: 1px solid #C4D67E;
    color: #576C01;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    font-family: 'OpenSansRegular';
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px 35px 10px 14px;
}
.hc_alert_success .close { color: #576C01; line-height: 20px; opacity: 1; position: relative; right: -21px; top: -2px; }
.hc_alert_info {
	background-color: #D9EDF7;
    border: 1px solid #BCE8F1;
    color: #04567d;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    font-family: 'OpenSansRegular';
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px 35px 10px 14px;
}
.hc_alert_info .close { color: #04567D; line-height: 20px; opacity: 1; position: relative; right: -21px; top: -2px; }
/*Accordion & Tabs Styles*/
.hc_accordion_section, .hc_tabs_section { margin-bottom: 60px; }
.hc_shortcode_section { margin-bottom: 60px; }
.hc_short_tabs { display: inline-block; height: auto; margin: 0; padding: 0; position: relative; }
.hc_short_tabs ul { margin: 0; padding: 0; list-style: none outside none; }
.hc_short_tabs li { float: left; margin: 0px 8px 5px 0; list-style: none outside none; }
.hc_short_tabs li a {
	background: #ffffff;
    color: #3b3b3b;
	border:1px solid #e8e8e8;
    display: inline-block;
	font-family: 'OpenSansSemiBold';
    font-size: 13px;
    text-decoration: none;
	transition: all 0.4s ease;
    padding: 10px 20px;
}
.hc_short_tabs li.active > a, .hc_short_tabs li > a:hover { color: #fff; }
.hc_short_tabs_content { 
	border: 1px solid #dddddd;
    color: #777777;
    font-family: 'OpenSansRegular';
    font-size: 14px;
	line-height: 25px;
    margin-bottom: 10px;
    padding: 20px 15px 20px 15px;
}
/*Image with Paragraph*/
.hc_img_para_section { margin-bottom: 60px; }
.image_para_title { color: #555555; font-family: 'OpenSansSemiBold'; font-size: 16px; line-height: 25px; margin: 0px 0px 10px 0px; }
.image_para_content { color: #555555; font-family: 'OpenSansRegular'; font-size: 14px; line-height: 25px; margin: 0px 0px 10px 0px; }
.img_para_left { margin-right: 20px !important; }
.img_para_right { margin-left: 20px !important; }

/* Typography Page Css ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Headings Styles*/
.hc_heading_section { background-color: #FFFFFF; margin-bottom: 60px; overflow: auto; padding: 0 0 0px; float: none; }
.hc_heading_section h1, .hc_heading_section h2,
.hc_heading_section h3, .hc_heading_section h4,
.hc_heading_section h5, .hc_heading_section h6 { color: #3b3b3b; font-family: 'OpenSansRegular'; margin: 0 0 20px; }
.hc_heading_section h1 { font-size: 46px; line-height: 54px; word-wrap: break-word; }
.hc_heading_section h2 { font-size: 40px; line-height: 48px; word-wrap: break-word; }
.hc_heading_section h3 { font-size: 34px; line-height: 42px; word-wrap: break-word; }
.hc_heading_section h4 { font-size: 28px; line-height: 36px; word-wrap: break-word; }
.hc_heading_section h5 { font-size: 22px; line-height: 30px; word-wrap: break-word; }
.hc_heading_section h6 { font-size: 16px; line-height: 24px; word-wrap: break-word; }
.hc_heading_section p { color: #777777; font-family: 'RobotoRegular'; line-height: 22px; font-size: 15px; margin: 0 0 24px; }
.hc_heading_section p:last-child { margin: 0 0 0px; }
/*Blockquote Styles*/
.hc_blockquote_section { background-color: #FFFFFF; margin-bottom: 60px; overflow: auto; padding: 0 0 0px; float: none; }
.hc_blockquote_section blockquote { background-color: #f6f5f5; margin: 0 0 28px; padding: 15px 20px; width: auto; }
.hc_blockquote_section blockquote > span { color: #777777; font-family: 'OpenSansRegular'; font-size: 15px; line-height: 22px; margin-bottom: 0; }
.hc_blockquote_section blockquote > small { color: #3b3b3b; display: block; font-size: 14px; font-family: 'opensansBoldItalic'; line-height: 20px; margin-top: 5px; }
.blockquote_sytle2 { background-color: #ffffff !important; margin: 0 0 0px !important; padding: 15px 20px 15px 0px !important; width: auto; border: 0px !important; }
.blockquote_sytle2 span {
	background: url("./images/blockquote_img.png") no-repeat 0px 10px;
	padding: 15px 15px 5px 35px;
	display: block;
}
.blockquote_sytle2 small { padding: 0px 15px 5px 35px; }
/*Icon Paragraph Styles*/
.hc_icon_para_section { background-color: #FFFFFF; margin-bottom: 60px; overflow: auto; padding: 0 0 0px; float: none; }
.hc_para_icons { color: #777777; font-family: 'OpenSansRegular'; font-size: 14px; line-height: 22px; margin: 0 0 20px; }
.hc_para_icons:last-child { margin: 0 0 0px; }
.hc_para_icons i { color: #3b3b3b; margin-right: 5px; font-size: 16px; }
/* -- Table -- */
.hc_table_section { background-color: #FFFFFF; margin-bottom: 60px; overflow: auto; padding: 0 0 0px; float: none; }
.table { color: #777777; font-family: 'OpenSansRegular'; font-size: 14px; margin-bottom: 0px !important; }
.table-bordered { border: 1px solid #E0E0E0 !important; }
.table > thead > tr > th, .table > tbody > tr > th,
.table > tfoot > tr > th, .table > thead > tr > td,
.table > tbody > tr > td, .table > tfoot > tr > td { padding: 8px 8px 8px 15px !important; }
.table thead tr th, .table tr th { color: #3b3b3b; font-family: 'OpenSansBold'; }
.table th:nth-child(2n+1) { background-color: #ffffff; }
.table th:nth-child(2n) { background-color: #ffffff; }
.table tr:nth-child(2n+1) { background-color: #f6f5f5; }
.table tr:nth-child(2n) { background-color: #ffffff; }
.table tr td, .table tbody tr td { font-family: 'OpenSansRegular'; }
dd a { color:#428bca !important; }
/*List Styles*/
.hc_list_style_section { background-color: #FFFFFF; margin-bottom: 60px; overflow: auto; padding: 0 0 0px; float: none; }
.hc_list_style_section ul, ol,.hc_blog_post_content ul,.hc_blog_post_content ol { margin: 0 0 10px 25px; padding: 0; font-family: 'RobotoRegular'; font-size: 15px; }
.hc_list_style_section ul li, ol li { color: #777777; line-height: 20px; margin-bottom: 5px; margin-top: 5px; }

/* 404 Page Css -----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.hc_404_error_section { background-color: #FFFFFF; margin-bottom: 60px; overflow: auto; padding: 0 0 0px; float: none; }	
.error_404 { clear: both; text-align: center; padding: 30px 0 30px; }
.error_404 h2 { color: #3b3b3b; font-size: 150px; line-height: 140px; margin: 20px 0; font-family: 'Courgette'; }
.error_404 h4 { margin: 20px 0px 25px; font-size: 48px; font-family: 'Courgette'; line-height: 45px; }
.error_404 p { color: #777777; margin-bottom: 25px; font-size: 16px; font-family: 'OpenSansRegular'; line-height: 22px; }
.error_404_btn {
	background-color: #ffffff;
    display: inline-block;
    font-family: 'OpenSansSemiBold';
    font-size: 14px;
    line-height: 20px;
    margin: 8px 0;
    padding: 9px 20px;
    text-align: right;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
}
.error_404_btn:hover { color: #ffffff; }

/* Faq Page Css -------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.hc_faq_section { background-color: #FFFFFF; margin-bottom: 60px; overflow: auto; padding: 0 0 0px; float: none; background-color: #FFFFFF; }
.hc_faq_section p { margin-bottom: 25px; font-size: 14px; font-family: 'OpenSansRegular'; color: #777777; line-height: 22px; }

/* Scroll To Top ----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.hc_scrollup {
    width: 40px;
    height: 40px;
    opacity: 0.5;
    position: fixed;
    bottom: 100px;
    right: 30px;
    display: none;
	border-radius: 5px;
    text-align: center;
    color: #fafafa;
    font-size: 28px;
    background: #3b3b3b;
    z-index: 9999;
}
.hc_scrollup i { line-height: 38px; font-size: 24px; }
a.hc_scrollup:hover i, a.hc_scrollup:focus i { text-decoration: none; color: #fafafa; outline: none; }

/*******************************************/
.hc_footer_widget_column #wp-calendar,.hc_sidebar #wp-calendar { border: 1px solid #7e7e7e; width: 100%; }
.hc_footer_widget_column #wp-calendar caption,.hc_sidebar #wp-calendar caption { font-family: 'OpenSansBold'; font-size: 14px; color: #ffffff; padding: 6px 0; }
.hc_sidebar #wp-calendar thead tr th { border: 1px solid #e7e7e7; padding: 6px 0; color: #777777; font-family: 'OpenSansBold'; font-size: 14px; text-align: center; }
.hc_footer_widget_column #wp-calendar thead tr th { border: 1px solid #e7e7e7; padding: 6px 0; color: #CCCCCC; font-family: 'OpenSansBold'; font-size: 14px; text-align:center; }
.hc_sidebar #wp-calendar tbody tr td { padding: 6px 0; color: #777777; font-family: 'OpenSansSemiBold'; font-size: 13px; line-height: 20px; text-align:center; }
.hc_footer_widget_column #wp-calendar tbody tr td { padding: 6px 0; color: #CCC; font-family: 'OpenSansSemiBold'; font-size: 13px; line-height: 20px; text-align:center; }
.hc_footer_widget_column #wp-calendar tbody tr td a,.hc_sidebar #wp-calendar tbody tr td a {
	padding: 0px 5px 0px 7px;
	color: #a5a5a5;
	font-family: 'OpenSansSemiBold';
	font-size: 13px;
	line-height: 20px;
}
.hc_footer_widget_column .searchform label { display: block; } 
.fa-mail-forward { color: #c5c5c5; }
.hc_footer_widget_column .recentcomments > ul > li { text-decoration: none; }
.hc_sidebar .recentcomments a:before,.hc_footer_widget_column .recentcomments a:before { content:none; } 
.hc_footer_widget_column .screen-reader-text  ,.hc_footer_widget_column .recentcomments { color:#cbcbcb; text-decoration:none; }
.comment-notes { display: none; }
.comment-reply-title { font-size: 20px; }
.logged-in-as a,.logged-in-as { font-family: 'OpenSansRegular'; }
/***** require theme check plugin cs*******/
.wp-caption ,.wp-caption-text { }
.wp-caption { max-width: 100%; padding: 4px; }
.sticky { }
.gallery-caption { }
.alignright { display: inline; float: right; margin-left: 1.625em; }
.bypostauthor { }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignleft { float: left; display: inline; margin-right: 1.625em; }
/* CSS ADDED AFTER THEME UNIT TEST DATA DESIGN ISSUE*/
.hc_blog_post_content .alignnone, .wp-caption img { display: block; height: auto; max-width: 100%; }
.hc_blog_post_content ul li { list-style: disc outside none; list-style-position: inside; }
.hc_blog_post_content ol li { list-style: decimal outside none; list-style-position: inside; }

/*Css For diff html formats */
.hc_blog_post_content h1 { font-size: 28px; line-height: 30px; }
.hc_blog_post_content h2 { font-size: 26px; line-height: 30px; }
.hc_blog_post_content h3 { font-size: 24px; line-height: 30px; }
.hc_blog_post_content h4 { font-size: 22px; line-height: 30px; }
.hc_blog_post_content h5 { font-size: 21px; line-height: 30px; }
.hc_blog_post_content h6 { font-size: 20px; line-height: 30px; }
.hc_blog_post_content ul li, .hc_blog_post_content ul li { list-style: disc outside none; list-style-position: inside; }
.hc_blog_post_content ol li, .hc_blog_post_content ol li { list-style: decimal outside none; list-style-position: inside; }
.hc_blog_post_content cite, .hc_blog_post_content cite { font-style: italic; }
.hc_blog_post_content h1, .hc_blog_post_content h2,
.hc_blog_post_content h3, .hc_blog_post_content h4, 
.hc_blog_post_content h5, .hc_blog_post_content h6 { font-family: 'OpenSansRegular'; }
/*Table CSS*/
table { 
	border: 1px solid #dddddd;
	border-collapse: separate;
	/*border-left: 0;*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 100%;
	font-family: 'OpenSansRegular';
}
table td { border-left: 1px solid #dddddd; padding: 8px; line-height: 20px; text-align: left; vertical-align: top; border-top: 1px solid #dddddd; }
table th { border-left: 1px solid #dddddd; padding: 8px; line-height: 20px; text-align: left; vertical-align: top; border-top: 1px solid #dddddd; }
.hc_footer_widget_column  table tfoot a { color: #ccc; }
dt { font-weight: bold; font-size: 17.5px; margin-top:15px; font-family: 'OpenSansRegular'; }
dd { margin-left: 10px; font-size: 17.5px; font-family: 'OpenSansRegular'; }
.hc_sidebar #searchsubmit { color: #ffffff; }
.hc_blog_post_content h1, .hc_blog_post_content h2, 
.hc_blog_post_content h3, .hc_blog_post_content h4, 
.hc_blog_post_content h5, .hc_blog_post_content h6 { font-family: 'OpenSansRegular'; color: #3b3b3b; }
dl,dt,.hc_blog_post_content ul { color: #777777; }
.hc_footer_widget_column ul { list-style: none; padding: 0; }

/*FA ICON CHANGES*/
.hc_sidebar_widget li a:before, .hc_footer_widget_column li a:before { font-family: 'FontAwesome'; content: '\f192'; margin-right: 20px; }
.hc_sidebar_widget ul { list-style:none; }
.hc_sidebar .cat-item a, .hc_footer_widget_column .cat-item a { font-size: 15px; line-height: 20px; }
.comment-reply-title { font-size: 20px; }
.logged-in-as a,.logged-in-as { font-family: 'OpenSansRegular'; }
.hc_sidebar .searchform div > input {
	border-radius: 5px;
	display: inline-block;
	font-size: 14px;
	height: 40px;
	line-height: 1.42857;
	padding: 6px 20px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	vertical-align: middle;
	background-color: #FFFFFF;
	margin-right: 5px;
	border: 1px solid #c5c5c5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555555;
}
.hc_footer_widget_column .searchform div > input {
	border-radius: 5px;
	display: inline-block;
	font-size: 14px;
	height: 40px;
	line-height: 1.42857;
	padding: 5px 5px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	vertical-align: middle;
	background-color: #fff;
	margin-right: 5px;
	border: 1px solid #c5c5c5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: ;
}
.hc_sidebar  .searchform div > label { display: block; font-family: 'OpenSansSemiBold'; font-size: 24px; color: #3b3b3b; font-weight: normal; line-height: 30px; }
.hc_footer_widget_column .searchform div > label { display: block; font-family: 'OpenSansSemiBold'; font-size: 24px; color: #ccc; font-weight: normal; line-height: 30px; }
.hc_sidebar #searchsubmit {
	font-family: 'OpenSansSemiBold';
	display: inline-block;
	border-radius: 5px;
	padding: 5px 12px;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	transition: all 0.4s ease;
}
.hc_footer_widget_column #searchsubmit{
	font-family: 'OpenSansSemiBold';
	display: inline-block;
	border-radius: 5px;
	padding: 10px 12px;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	transition: all 0.4s ease;
}
.hc_sidebar .recentcomments ,.hc_footer_widget_column .recentcomments ,.hc_footer_widget_link a,.hc_footer_widget_column ul li a,.hc_sidebar ul li a{
	display: block;
	font-family: 'OpenSansRegular';
	font-size: 15px;
	line-height: 20px;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0px 0 0px;
	transition: all 0.4s ease 0s;
}
/*New CSS **/
.hc_heading_title { border-bottom: 1px solid #e0e0e0; display: block; margin: 7px 0 30px; }
.hc_heading_title h3 {
    color: #3b3b3b;
    text-shadow: 0 0 1px #F6F6F6;
    display: inline-block;
    font-family: 'GlametrixBold';
    font-size: 32px;
	letter-spacing: 1px;
    margin: 0 0 -1px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.hc_service_area p a { font-family: 'OpenSansSemiBold'; font-size: 15px; }
.hc_head_title_nav { font-size: 18px; line-height: 1; display: block; margin: 7px 0 30px; }
.hc_head_title_nav h3 { 
    display: inline-block;
    font-family: 'GlametrixBold';
    font-size: 32px;
	letter-spacing: 1px;
    line-height: 1;
    margin: 0 0 -1px;
    padding-bottom: 10px;
    padding-right: 10px;
}
/******* image and video responsive ***********/
img.aligncenter, img.alignleft, img.alignnone, img.alignright, img.attachment-medium, img.attachment-large,
img.attachment-thumbnail, img.size-full, img.size-medium, img.size-thumbnail {
	width: inherit;  /* Make images fill their parent's space*/
	max-width: 100%; /* Add !important if needed. */
	height: auto; /* WP added height and width attributes scales */
}
/* Make sure videos and embeds fit their containers */
embed, iframe, object, video { max-width: 100%; }
/* Keep wide captions from overflowing their container. */
.index_ser_img { margin-bottom: 26px; border-radius: 100%; width: 100px; height: 100px; line-height: 95px; }
